:not(pre) > code[class*="language-"] {
  background: whitesmoke;
  padding: .25em;
  border-radius: .25em;
}
.token.keyword {
  color: #53738d;
}
.token.operator {
  color: #555;
}
code[class*="language-"] {
  background: none;
  text-align: left;
}
