<h2>{{ title }}</h2>
<p>{{ description }}</p>
<code class="language-php">composer <span
    class="token keyword keyword-require">{{ composer_action }}</span>
  {% for module in modules %}
    "drupal/{{ module|trim(" '") }}"{% if not loop.last %} {% endif %}
  {% endfor %}
</code>
